<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
    <a href="{% url 'app6:changepassword' user.id %}">changepassword</a>
    <a href="{% url 'app6:logout' %}">logout</a>
    <a href="{% url 'app6:update' user.id %}">update</a>
    
    {{user.Name}}
</body>
</html>