<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>PLACE</th>
            <th>EMAIL</th>
            <th>PHOTO</th>
            <th>ACTIONS</th>
        </thead>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.Name}}</td>
        <td>{{user.Age}}</td>
        <td>{{user.Place}}</td>
        <td>{{user.Email}}</td>
        <td><img src="{{user.Photo.url}}" height="150px" width="150px"></td>
        <td><a href="{% url 'app6:update' user.id %}">update <a href="{% url 'app6:delete' user.id %}">delete</a></td>
        </tr>
          {% endfor %}
    </table>
</body>
</html>